<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WF.Sample.Business.Properties.Settings.WorkflowEngineConnectionString"
            connectionString="Data Source=(local);Initial Catalog=WorkflowEngine;User Id=sa;pwd=chy736"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>